
.video__iframe{
    width: 500px;
    height: 300px;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid blue;
  }
  
  .video__iframe:nth-of-type(1) {
    margin-right: 20px;
  }